.lead__title {
    padding-top: 56px;
    max-width: 720px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}   


@media screen  and (max-width:767px) and (min-width: 320px) {
      
    .lead__title {
        max-width: 288px;
        margin: 0 auto;
        font-size: 40px;
        line-height: 44px;
    }
}